:root {
    --blue:#1DA1F2;
    --black:#000;
    --dark-gray:#657786;
    --gray:#AAB8C2;
    --light-gray:#E1E8ED;
    --white:#fff;
    --hover-black-color:#eff3f41a;
    --hover-blue-color:#1a8cd8;
    --light-black:#16181c;
    --border-color:#2F3336;
}